.form_registration{
    width: 480px;
    margin: 20px auto;
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 0px 20px;
}

h1.registration_header {
    color: #232C3B;
    font-size: 28px;
    padding-top: 15px;
    margin: 0px;
}

p.registration_header {
    font-size: 14px;
    color: #BABCC2;
    margin: 10px 0px;
}
.registration_header {
    text-align: center;

}

.registration_text {
    font-weight: bold;
    font-size: 14px;
    color: #232C3B;
    margin: 15px 0px 8px 0px;
    padding-left: 19px;
}
.registration_checkbox {
    margin: 14px 0px 14px 0px;
    color: #6A7483;
    font-size: 14px;
    text-align: justify;
}
.required_text {
    color: #A52A2A;
}
#registration_sign_in {
    cursor: pointer;
    border-bottom: 1px dotted #cdcccc;
}
#user_email_header {
    cursor: pointer;
}
















